minetest-0.4.8-dev-osx.dmg
.DS_Store
*.pbxuser
*.mode1v3
*.swp
minetest-mac.xcodeproj/xcuserdata/*
minetest-mac.xcodeproj/project.xcworkspace/xcuserdata/*
build/
bin/
_CPack_Packages/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
minetest.build/
minetest.xcodeproj
src/cmake_config_githash.h
src/cmake_config.h
src/cmake_install.cmake
src/CMakeFiles/
src/CMakeScripts/
json/cmake_install.cmake
